{% if (content is defined) and (content is iterable) %}
  {% for item in content %}
    {% if item is not iterable  %}
      <div class="hbm-custom-content-{{ type }}">
        {{ item }}
      </div>
    {% elseif item.value is defined  %}
      <div class="hbm-custom-content-{{ type }}">
        {{ item.value }}
      </div>
    {% elseif item.html is defined %}
      {{ item.html|raw }}
    {% elseif item.template is defined %}
      {% if item.template is iterable %}
        {% include item.template.name with item.template.params|merge({'form': form}) only %}
      {% else %}
        {% include item.template with {'form': form} only %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
